/*  Header Section Style */

header {
  font-family: "Kanit", sans-serif;
}
.top-heading {
  font-family: "Berkshire Swash", cursive;
  /* color: #d3e502; */
  color:yellow;
}
body {
  font-family: "Manrope", sans-serif;
}

header {
  height: 90vh;
}

#favourite-part {
  color: #ff6355;
}

/*  Main section style */

main {
  background-color: #272525;
}


/* Card Section style */
.card-text {
  color: #11ec85;
}


.select-btn, .clear-btn{
    background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 400% auto;
    color: white; 
  }

  .select-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .clear-btn:hover {
    background-position: right center;
    color:aqua;
    text-decoration: none;
  }
 
 

.btn{
  border-radius:0px;
}


/* Calculation Area Style */

input[type=text]{
  background-color: #f7f2f2;
  font-weight: bold;

}


.calculate-btn{
  background-color: #FFC107;
}

.calculate-btn:hover{
  background-color: #1a69df;
  color: black;
}

.dollar{
  color: #FFC107;
}
a :hover{
  color:#FFC107;
}