/*  Header Section Style */

header {
  font-family: "Kanit", sans-serif;
}
.top-heading {
  font-family: "Berkshire Swash", cursive;
  color: #d3e502;
}
body {
  font-family: "Manrope", sans-serif;
}

header {
  background-color: black;
  height: 90vh;
}

#favourite-part {
  color: #ff6355;
}

/*  Main section style */

main {
  background-color: #272525;
}
.card-title {
  color: yellow;
}
.card-text {
  color: #11ec85;
}
.select-btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 2rem;
  background-color: #dd0000;
  box-shadow: inset 0 0 0 0 #7d3c98;
  transition: ease-in-out 0.3s;
  outline: none;
}

.select-btn:hover {
  box-shadow: inset 300px 0 0 0 #7d3c98;
  cursor: pointer;
  color: white;
}
